{% extends 'layout.twig' %}

{% block content %}
    <h1>H1 Header</h1>
    <h2>H2 Header</h2>
    <h3>H3 Header</h3>
    <h4>H4 Header</h4>
    <h5>H5 Header</h5>
    <h6>H6 Header</h6>

    <hr class="divider">

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel tincidunt eros, nec venenatis ipsum. Nulla
        hendrerit urna ex, id sagittis mi scelerisque vitae. Vestibulum posuere rutrum interdum. Sed ut ullamcorper
        odio,
        non pharetra eros. Aenean sed lacus sed enim ornare vestibulum quis a felis. Sed cursus nunc sit amet mauris
        sodales
        tempus. Nullam mattis, dolor non posuere commodo, sapien ligula hendrerit orci, non placerat erat felis vel
        dui.
        Cras vulputate ligula ut ex tincidunt tincidunt. Maecenas eget gravida lorem. Nunc nec facilisis risus.
        Mauris
        congue elit sit amet elit varius mattis. Praesent convallis placerat magna, a bibendum nibh lacinia non.</p>
    <p>Fusce mollis sagittis elit ut maximus. Nullam blandit lacus sit amet luctus euismod. Duis luctus leo vel
        consectetur
        consequat. Phasellus ex ligula, pellentesque et neque vitae, elementum placerat eros. Proin eleifend odio
        nec
        velit
        lacinia suscipit. Morbi mollis ante nec dapibus gravida. In tincidunt augue eu elit porta, vel condimentum
        purus
        posuere. Maecenas tincidunt, erat sed elementum sagittis, tortor erat faucibus tellus, nec molestie mi purus
        sit
        amet tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        Mauris a
        tincidunt metus. Fusce congue metus aliquam ex auctor eleifend.</p>
    <p>
        Пласт, по определению, заканчивает дискретный кризис жанра. Иными словами, звукоряд многопланово дает
        тетрахорд,
        благодаря употреблению микромотивов (нередко из одного звука, а также двух-трех с паузами). Дифференциация
        представляет собой перекрестный доминантсептаккорд, не говоря уже о том, что рок-н-ролл мертв.
    </p>
    <hr class="divider">
    <ul>
        <li>sample list item</li>
        <li>sample list item with a <a href="#">link</a></li>
        <li><a href="#">sample link</a></li>
    </ul>
    <hr class="divider">
    <table>
        <thead>
        <tr>
            <th></th>
            <th>Header 1</th>
            <th>Header 2</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Definition</td>
            <td>1A</td>
            <td>1B</td>
        </tr>
        <tr>
            <td>Definition</td>
            <td>2A</td>
            <td>2B</td>
        </tr>
        </tbody>
    </table>
    </div>
{% endblock %}